In [ ]:
import pandas as pd
import re

In [ ]:
df=pd.read_csv('/content/drive/Shareddrives/KU 데이터톤/데이터톤 내부데이터/건물 요일 층 데이터셋/electronic2.csv')

In [ ]:
df.to_csv('/content/drive/MyDrive/data/electronic.csv')

In [ ]:
df.head()

   Unnamed: 0  year semester     code  sep  ... day2 start1 end1 start2  end2
0           0  2020       2R  KECE204    1  ...    수    5.0  5.0    5.0   5.0
1           1  2020       2R  KECE204    2  ...    수    5.0  5.0    5.0   5.0
2           2  2020       2R  KECE204    3  ...    수    5.0  5.0    5.0   5.0
3           3  2020       2R  KECE206    1  ...    수    1.0  1.0    1.0   1.0
4           4  2020       2R  KECE206    2  ...    수    2.0  2.0    2.0   2.0

[5 rows x 16 columns]

In [ ]:
mat=df[['class_name', 'day1', 'day2', 'start1', 'end1', 'start2', 'end2']]

In [ ]:
for i in range(len(mat)):
  temp=mat['day1'][i]
  if temp=='월':
    mat.loc[i, 'day1']=1
  elif temp=='화':
    mat.loc[i, 'day1']=2
  elif temp=='수':
    mat.loc[i, 'day1']=3
  elif temp=='목':
    mat.loc[i, 'day1']=4
  elif temp=='금':
    mat.loc[i, 'day1']=5

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [ ]:
for i in range(len(mat)):
  temp=mat['day2'][i]
  if temp=='월':
    mat.loc[i, 'day2']=1
  elif temp=='화':
    mat.loc[i, 'day2']=2
  elif temp=='수':
    mat.loc[i, 'day2']=3
  elif temp=='목':
    mat.loc[i, 'day2']=4
  elif temp=='금':
    mat.loc[i, 'day2']=5

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [ ]:
mat.head()

  class_name day1 day2  start1  end1  start2  end2
0      전기회로Ⅱ    1    3     5.0   5.0     5.0   5.0
1  전기회로Ⅱ(영강)    1    3     5.0   5.0     5.0   5.0
2  전기회로Ⅱ(영강)    1    3     5.0   5.0     5.0   5.0
3       전자기학    1    3     1.0   1.0     1.0   1.0
4       전자기학    1    3     2.0   2.0     2.0   2.0

In [ ]:
mat.to_csv('/content/drive/MyDrive/data/sample.csv')